<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Weight</title>
	<link rel="stylesheet" type="text/css" href="/css/headerStyle.css">
	<link rel="stylesheet" type="text/css" href="/css/addWeight.css">

</head>
<body>
	<header>
	        <h1>Weight Loss Tracker</h1>
	        <nav>
	          
	            <a href="/logout" th:href="@{/logout}">Logout</a>
	        </nav>
	    </header>

    <h1 style="text-align: center;">Update Weight Entry</h1>

	<form th:action="@{'/weight/edit/' + ${weightObj.id}}" method="post" th:object="${weightObj}">
	    <input type="hidden" th:field="*{id}" />

	    <label for="Weight">Weight (kg):</label>
	    <input type="number" step="0.1" min="0" th:field="*{weight}" required />

	    <button type="submit">Update</button>
	</form>


    <a href="/weight/list"><b>Back to List</b></a>
</body>
</html>
