<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
	<link rel="stylesheet" type="text/css" href="/css/register.css">

    <style>
  
    </style>
</head>
<body>

    <header>
        <h1>Weight Loss Tracker</h1>
        <nav>
            <a href="/tracker" th:href="@{/tracker}">Home</a>
            <a href="/about" th:href="@{/about}">About Us</a>
            <a href="/contact" th:href="@{/contact}">Contact Us</a>
            <a href="/login" th:href="@{/login}">Login</a>
        </nav>
    </header>

	<div class="container">
	    <div class="message" th:if="${message != null}">
	       [[${message}]]
	    </div>

	    <div class="alert alert-danger" th:if="${error != null}">
	       [[${error}]]
	    </div>
        <h2>Registration Form</h2>
        <form th:action="@{/registration}" method="post" role="form" th:object="${user}">
            <div class="form-group">
                <label for="fullname">Fullname:</label>
                <input th:field="*{fullname}" type="text" id="fullname" name="fullname" placeholder="Enter your fullname" required class="form-control">
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input th:field="*{email}" type="email" id="email" name="email" placeholder="Enter your email" required class="form-control">
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input th:field="*{password}" type="password" id="password" name="password" placeholder="Enter your password" required class="form-control">
            </div>

            <div class="form-group">
                <label for="password">Confirm Password:</label>
                <input type="password" id="confirmPassword" placeholder="Confirm your password" required class="form-control">
            </div>

            <input type="submit" value="Register" onclick="return Validate()" class="btn btn-primary">
			<p style="padding: 10px;">Already have an account? <a href="/login">Log in</a> or <a href="/forgot-password">Forgot Password?</a></p>

        </form>
	
    </div>

    <script>
        function Validate() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
            if (password != confirmPassword) {
                $('#myModal').modal();
                return false;
            }
            return true;
        }
    </script>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 style="color: red" class="modal-title">Alert</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p style="color: red">Password do not match</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
